<div id="homepage" v-cloak>
  <div style="padding-top: 100px; padding-bottom: 25px; color: #14acc2;" class="d-flex flex-column justify-content-center position-relative" purpose="full-page-hero">
    <div class="container text-center">
      <div style="width: 220px; height: 170px;" class="mx-auto position-relative">
        <img style="width: 700px; bottom: 40px; left: -200px;" class="position-absolute" alt="The shadow of the floating ship on the water" src="/images/NoStudio_icon.png"/>
      </div>
      <h1 class="display-4 pb-5"> <strong>No.studio</strong> app.</h1>
      <div>
        <div style="cursor: pointer; bottom: 25px; left: 0;" class="position-absolute w-100 mt-5" purpose="more-info-text" @click="clickHeroButton()">
          <div style="letter-spacing: 2px;" class="text-uppercase font-weight-bold">Dive in</div>
          <div style="font-size: 20px;">&darr;</div>
        </div>
      </div>
    </div>
  </div>
  <div style="background-color: rgba(238, 245, 249, 0.72);" class="text-center py-5" purpose="scroll-destination">
   
  </div>
  <div class="container pt-5">
    <hr/>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
